extend layout


block content
  p
    | Bienvenue sur le nouveau site qui sert pas à grand chose
    | Si vous avez des questions, laissez tombé, ça ne sert à rien ! :)

    form(method="post", action="/")
      button.btn(name="restart")#restart.btn-primary.btn-withmargintop Redemarrer le serveur
      
    form(method="post", action="/")
      input.text(name="port")#port
      button.btn(name="clone")#clone.btn-primary.btn-withmargintop Clonner le serveur (numéro de port requit)
      
    button#jesuisunid.btn.btn-primary.btn-withmargintop Redemarrer le serveur
    button.btn.btn-primary.btn-withmargintop Clonner le serveur
    p Inscrivez-vous dans le chat :
      img(src='http://40.media.tumblr.com/10ce6f70dbb296c4056bb941fb95876b/tumblr_nb8o82Oq3r1r6f3ooo1_1280.jpg')

block sidebar
  .widget
    h1 Widget
    p
      | Sed auctor neque eu tellus rhoncus ut
      | eleifend nibh porttitor. Ut in nulla enim.
    
    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.
