doctype html
html
  head
    title #{title} - Interface
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
  body
    header
      h1 Interface
      .container
                    div(class="collapse navbar-collapse")
                        ul(class="nav navbar-nav")
                            li.active
                                a(href="/").menuColor Home
                            li
                                a(href="/about").menuColor About
                            li
                                a(href="/contact").menuColor Contact
                            li
                                a(href="/chat").menuColor Chat

    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Site d'evaluation NodeJS
